<div class="container">
  <h1>Ascii art maker</h1>
  <p>Let's asciify</p>
  <form action="result" method="POST">
    <h2>폰트를 골라주세요!</h2>
    <select name="input_font">
      <option value="standard">일반</option>
      <option value="big">크게</option>
      <option value="thin">작게</option>
    </select>
    
    <h2>텍스트 입력</h2>
    <input type="text" name="input_text" placeholder="input">
    
    <h2>제출하기!</h2>
    <input type="submit" value="asciify">
  </form>
    
</div>
